.container-fluid{

    font-family: 'Times New Roman', Times, serif;
   font-size: larger;
}

.navbar brand{

    color: red;
    background-color: red;

}

.row{

    font-family: 'Times New Roman', Times, serif;


}